<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaTexInclude.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <LaTexInclude.Properties.Settings>
            <setting name="Setting_General_SaveWhiteList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_General_StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_Advanced_FileRegistry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_Advanced_FolderRegistry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_General_ContextStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </LaTexInclude.Properties.Settings>
    </userSettings>
</configuration>